body {
    background-color: #98ff98;
}

.output {
    font-weight: bold;
    font-size: large;
}

.email:invalid {
    color: red;
}

.body_input:required {
    color: red;
}

.checkbox:required {
    color: red;
}